:root{
    --principal: #1464cd;
    --secundario: #FFCE70;
    --blanco: #ffffff;
    --negro: #000000;


}



body{
    font-family: 'Lora', serif;
    font-family: 'Mulish', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Public Sans', sans-serif;
}

.sectionPrincipal {
    background-color: rgb(163, 177, 180);
    border-radius: 10px;
    display: flex;
    justify-content:space-around;
    max-width: 768px;
   
}

.sectionPrincipal div{
    flex:1;
}


.titulo{
    text-align: center;
    font-size:40px;
    color:white;
}

.divFoto{
    background-image: url(../img/fotoPerfil2.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    overflow: hidden;
    padding-top: 20px; /* Ajusta el espacio superior deseado */
    padding-bottom: 20px; /* Ajusta el espacio inferior deseado */
    margin-top: 10px; /* Ajusta el margen superior deseado */
    margin-bottom: 10px;
}

/*tomado de www.cssmatic.com*/
.sombra {
    -webkit-box-shadow: 11px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 11px 10px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 11px 10px 5px 0px rgba(0,0,0,0.75);
}

.seccionSecundaria{
    display:flex;
    max-width: 768px;
}

.seccionSecundaria section{
    flex:1;
    flex-direction: column;
    padding: 0 10px;
    display: grid;
    grid-gap: 20px;
}

.conteiner{
    max-width: 768px;
    min-width:200px;
    margin: 10px auto;
}

.conteinerBorder{
    border-radius: 2%;
    background-color: aliceblue;
}

.sectionPrincipal h2{
    color:white;
    font-size: 35px;
    font-weight:900;
}

.seccionSecundaria h2{
    margin: 0px 0px;
    font-size: 30px;
    padding-top: 30px;
}
 ul, p{
    margin: 10px 0;
    font-weight: bold;
    font-size: 20px;
 }

 ul li{
    padding-bottom: 10px;
 }

.linkcv{
    font-weight:900;
    font-size: 30px;
}

@media(max-width: 400px){
    .seccionSecundaria{
        display: flex;
        flex-direction: column-reverse;
    }


    .sectionPrincipal h2{
        color:white;
        font-size: 20px;
    }

    ul, p{
        font-size: 10px;
     }

     .seccionSecundaria h2{
        font-size: 20px;
    }

}

