:root{
    --principal: #1464cd;
    --secundario: #FFCE70;
    --blanco: #ffffff;
    --negro: #000000;
    --gris: rgba(255, 255, 255, 1);

    --principalFondo : rgb(205, 222, 223);
    --secundarioFondo: rgb(219, 210, 185);
}



html{
    font-size: 62.5%;
    background:
    radial-gradient(circle farthest-side at 0% 50%,var(--principalFondo) 23.5%,rgba(240,166,17,0) 0)21px 30px,
    radial-gradient(circle farthest-side at 0% 50%,var(--secundarioFondo) 24%,rgba(240,166,17,0) 0)19px 30px,
    linear-gradient(var(--principalFondo) 14%,rgba(240,166,17,0) 0, rgba(240,166,17,0) 85%,var(--principalFondo) 0)0 0,
    linear-gradient(150deg,var(--principalFondo) 24%,var(--secundarioFondo) 0,var(--secundarioFondo) 26%,rgba(240,166,17,0) 0,rgba(240,166,17,0) 74%,var(--secundarioFondo) 0,var(--secundarioFondo) 76%,var(--principalFondo) 0)0 0,
    linear-gradient(30deg,var(--principalFondo) 24%,var(--secundarioFondo) 0,var(--secundarioFondo) 26%,rgba(240,166,17,0) 0,rgba(240,166,17,0) 74%,var(--secundarioFondo) 0,var(--secundarioFondo) 76%,var(--principalFondo) 0)0 0,
    linear-gradient(90deg,var(--secundarioFondo) 2%,var(--principalFondo) 0,var(--principalFondo) 98%,var(--secundarioFondo) 0%)0 0 var(--principalFondo);
    background-size: 40px 60px;

}

body{
    font-size: 16px;
    font-family: 'Lora', serif;
    font-family: 'Mulish', sans-serif;
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Public Sans', sans-serif;

   
}

.divNavPrincipal{
    background-color: var(--principal);
}

.conteiner{
    max-width: 76.8rem;
    margin: 0 auto;

}

.navPrincipal{
    display:flex;
    justify-content: space-around;
}

.navPrincipal a{
    color: var(--blanco);
    padding: 1rem 1rem;
    font-size: 2rem;
    text-decoration: none;
    font-weight:bolder;
    transition: color 2s, background-color 0.3s;

}

.navPrincipal a:hover{
    background-color: var(--secundario);
    color: var(--negro);
}

.titulo{
    text-align: center;
    font-weight: bolder;
    font-size: 2.5rem;
    
}

.seccionPrincipal{
    display:flex;
    justify-content: center;
}


.iconouni{
    height: 100px;
    width: 100px;
    padding-left: 0.5rem;
}

.divImagen{
    position: relative;
    opacity: 0.7;
}    

.iconofinal{
    position: absolute;
    top: 15%;
    left: 0%;
    filter: invert(90%);
}

.divImagen h2{
    font-weight: 900;
    position: absolute;
    top: 0%;
    left:15%;
    /*font-size:  5rem;*/
    color: rgba(255, 255, 255, 1);
    color: #000;
    text-shadow: -1px -1px 0 var(--gris), 1px -1px 0 var(--gris), -1px 1px 0 var(--gris), 1px 1px 0 var(--gris);
    opacity: 1;
}



.foto{
    border-radius: 2rem;
}


@media (max-width: 768px) {
    /*achico la imagen*/
    .foto{
        width: 400px;
    }
    /*acomodo la fuente para que se ajuste a la imagen mas pequeña*/
    .divImagen h2{
        font-size:2rem;
        font-weight:200;
        text-shadow:-0.2px -0.2px 0 var(--gris), 0.2px -0.2px 0 var(--gris), -0.2px 0.2px 0 var(--gris), 0.2px 0.2px 0 var(--gris);
        top: 0%;
        left:20%;
    }

    .divImagen a .sizeUNStitle{
        font-size: 2rem;
    }
    .iconofinal{
        display:none;
    }

    /*las siguientes dos etiquetas acomodan el nav para pantallas chicas*/
    .navPrincipal{
        display:flex;
        flex-direction: column;
        
    }
    .navPrincipal a{
        text-align: center;
    }
    
}

/*aplicar elemento.style= desde js establece una precedencia muy alta por lo que
las demas caracteristicas no se pueden cambiar luego, en cambio si desde js lo que hago 
agregar y quitar clases, esta precedencia pasa a ser baja*/
.fuente49{
    font-size: 4.9rem;
}
.fuente5{
    font-size: 5rem;
}

.fuente52{
    font-size:5.2rem;
}

@media (max-width: 400px){
    .foto{
        width: 200px;
    }
    .divImagen h2{
        font-size:1rem;
        font-weight:200;
        text-shadow:-0.2px -0.2px 0 var(--gris), 0.2px -0.2px 0 var(--gris), -0.2px 0.2px 0 var(--gris), 0.2px 0.2px 0 var(--gris);
    }

    .divImagen a .sizeUNStitle{
        font-size: 1rem;
    }

}